<!DOCTYPE html>
<html class="has-background-dark">
	<head>
		<meta charset="UTF-8" />
		<title>Hello World!</title>
		<link rel="stylesheet" href="../node_modules/bulma/css/bulma.css" />
		<link rel="stylesheet" href="./styles.css" />
	</head>
	<body>
		<div id="app">
			<form v-on:submit.prevent="loadWeather" class="is-flex-direction-row has-background-dark mb-2">
				<div v-bind:class="{ 'is-loading': loading  }" class="control">
					<input class="input is-primary is-small" type="text" placeholder="City name" v-model="cityName" />
				</div>
      </form>
      
      <div v-if='!refreshIsOnTimeout' class='is-flex is-flex-direction-row is-justify-content-flex-end mb-2 mr-2'>
        <figure class="image is-24x24">
          <img src="../static/icons/refresh.svg" v-on:click="loadWeather"></img>
        </figure>
      </div>
			<div v-if="weather" class="is-flex is-flex-direction-row">
				<div class="has-text-light is-flex-grow-1 py-2 px-2 is-flex is-align-items-center is-justify-content-center is-size-1">{{weather.temp}}&deg;C</div>
				<div class="is-flex-direction-column is-flex-grow-2 py-2 px-2 is-flex is-align-items-center is-justify-content-center">
					<div class='has-text-light is-flex is-align-items-center is-justify-content-center'>{{weather.weatherDescription | capitalize}}</div>
					<div class="has-text-light is-flex is-align-items-center is-justify-content-center">{{weather.place}}</div>
				</div>
        <div 
          class="
            is-flex-grow-1
            has-background-info
            has-text-light 
            py-2 
            px-2 
            is-flex 
            is-flex-direction-column
            is-align-items-center 
            is-justify-content-center
          "
         >
            <div class='is-size-5'>
              {{weather.date.month}},
            </div>
            <div class='is-size-5'>
              {{weather.date.date}}
            </div>
        </div>
			</div>
		</div>
	</body>
	<script>
		require('./renderer.js')
	</script>
</html>
